* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body{
    background-color: #E5E5E5;

}

.container {
    width: 375px;
    background-color: #002333;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

header {
    background-color: #159A9C;
    height: 66px;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 25px;
}

main {
    padding: 24px;
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

select {
    background-color: #FFFFFF;
    border: 1px solid #B4BEC9;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    display: block;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding: 16px;
    box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
}

input {
    background-color: #FFFFFF;
    border: 1px solid #B4BEC9;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    display: block;
    outline: none;
    padding: 16px;
    box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
    font-size: 18px;
    
}

button {
    background: #159A9C;
    border-radius: 25px;
    height: 48px;
    width: 100%;
    color: #F4F4F4;
    font-size: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    cursor: pointer;
    border: none;
    margin-bottom: 24px;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    border: 1px solid #159A9C; 
    border-radius: 4px;
    width: 327px;
    padding: 10px;
    text-align: center;

}
.value {
   color: #159A9C;
   font-style: normal;
   font-weight: 700;
    font-size: 20px;
    line-height: 18px;

}
.currency {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #DEEFE7;
    margin-bottom: 2px;

}

.arrow {
    margin-top: 15px;
    margin-bottom: 15px;
}